body {
  background-color: #fff; cursor: default; background-image: url("https://github.com/dmbd2019/main/blob/master/images/bgnew2.jpg?raw=true");
  background-repeat:repeat;
  background-size:tile;
}

h1 {
  font-family: aller; font-style: bold; font-size: 25pt;
}

p {
  font-family: aller; font-style: normal; font-size: 10pt;
}

p2 {
  font-family: aller; font-style: normal; font-size: 15pt;
}

svg{
  font: bold 10px 'Aller';
  width: 10%;
  height: 10px;
}

text{
  fill: black;
  stroke: white;
  stroke-width:2px;
  // stroke-dasharray: 2,2;
  stroke-linejoin: round;
}
